.buttonAction {
    font-size: 30px;
    font-weight: lighter;
    width:60px;
    height:60px;
    border-width: 3px;
    border-style: solid;
    border-color: #E0E0E0;
    color: #E0E0E0;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.buttonAction:hover {
    color: #EAA1E8;
    border-color: #EAA1E8;
}

.buttonAction:active {
    color: #BA71B8;
    border-color: #BA71B8;
}

.buttonSide {
  margin-left: 50px;
  margin-right: 50px;
}

.upRight {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.downRight {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.downLeft {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}

.upLeft {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}


.buttonExplore {
    font-size: 20px;
    font-weight: lighter;
    width:240px;
    height:60px;
    border-width: 3px;
    border-style: solid;
    border-color: #E0E0E0;
    color: #E0E0E0;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.buttonExplore:hover {
    color: #EAA1E8;
    border-color: #EAA1E8;
}

.buttonExplore:active {
    color: #BA71B8;
    border-color: #BA71B8;
}
