.buttonKill {
    font-size: 30px;
    font-weight: lighter;
    width:120px;
    height:60px;
    border-width: 3px;
    border-style: solid;
    border-color: #E0E0E0;
    color: #E0E0E0;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.buttonKill:hover {
    color: #EAA1E8;
    border-color: #EAA1E8;
}

.buttonKill:active {
    color: #BA71B8;
    border-color: #BA71B8;
}
