.cross {
    font-size: 30px;
    font-weight: lighter;
    width:64px;
    height:64px;
    border-width: 0px;
    color: #E0E0E0;
    background-color: rgba(0, 0, 0, 0);
}

.cross:hover {
    color: #EAA1E8;
    border-color: #EAA1E8;
}

.cross:active {
    color: #BA71B8;
    border-color: #BA71B8;
}
