/* EAA1E8 */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}
h1, h2 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
  color: #393e46;
}

h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
  color: #393e46;
  margin-top: 50px;
  margin-bottom: 30px;
}

.backgroundWrapper {
  background:url(/assets/background.png) top right no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
  backgroundSize: "100% 100%";
}

.button {
    font-weight: lighter;
    border-width: 3px;
    border-style: solid;
    border-color: #222831;
    color: #222831;
    background-color: rgba(0, 0, 0, 0);
}

.button:hover {
    color: #00adb5;
    border-color: #00adb5;
}

.button:active {
    color: #00adb5;
    border-color: #00adb5;
}
